/* body{
    background-color: black;
    color: white;
} */

.left{
    width: 25vw;
}

.right{
    width: 75vw;
}

.border{
    border: 2px solid red;
    margin: 3px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}
